.cmp-separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cmp-separator--large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cmp-separator--hidden
.cmp-separator__horizontal-rule {
    border: 0px solid #003399;
    border-radius: 1px;
    background: #003399;

}

.cmp-separator__horizontal-rule {
  border: 1px solid #003399;
  border-radius: 1px;
  background: #003399;
}