
.cmp-accordion__controls {
  margin:  0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.cmp-accordion__controls-text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: 400;
  color: #677283;
  width: 67%;
}

.cmp-accordion__controls-text p {
  margin:  0 auto;
}

.cmp-accordion__controls-button {
  background-color: inherit;
  border: inherit;
  display: inline-flex;
  cursor: pointer;
}

.cmp-accordion__controls-button-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #3253dc;
}

.cmp-accordion__controls-button-expand-icon {
  background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-expand-all.svg');
  display: flex;
  margin: auto 0px;
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.cmp-accordion__controls-button-collapse-icon {
  background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-collapse-all.svg');
  margin: auto 0px;
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.cmp-accordion__item {
  margin:  0 auto;
  max-width: 1200px;
  border-top: 1px solid #ffffff;
}

.cmp-accordion__item:last-child {
    border-bottom: 1px solid #ffffff;
}

.cmp-accordion__header {
   padding-left: 30px;
   padding-right: 30px;
 }

.cmp-accordion__title {
  margin: 0px 32px 0px 0px;
  color: $brand-primary;

}

.cmp-accordion__button {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  background-color: inherit;
  border: inherit;
  cursor: pointer;
}

.cmp-accordion-padding-medium .cmp-accordion__button {
  padding-bottom: 8px;
  padding-top: 8px;
}

.cmp-accordion-padding-small .cmp-accordion__button {
  padding-bottom: 4px;
  padding-top: 4px;
}

.cmp-accordion__icon {
  background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-accordion-closed.svg');
  display: flex;
  margin: auto 0px;
  width: 24px;
  fill: rgb(50, 83, 220);
  height: 24px;
}

.cmp-accordion__button--expanded .cmp-accordion__title {
      margin: 0px 32px 0px 0px;
      color: rgb(34, 34, 34);
}
.cmp-accordion__button--expanded .cmp-accordion__icon {
    background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-accordion-open.svg');
}

.cmp-accordion__panel {
}

.cmp-accordion__panel--expanded {
}

.cmp-accordion-dark-theme .cmp-accordion__controls-text {
  color: #ffffff;
}

.cmp-accordion-dark-theme .cmp-accordion__controls-button-text {
  color: #ffffff;
}

.cmp-accordion-dark-theme .cmp-accordion__title {
  color: #ffffff;
}

.cmp-accordion-dark-theme .cmp-accordion__item {
  border-top: 1px solid #ffffff;
}

.cmp-accordion-dark-theme .cmp-accordion__item:last-child {
    border-bottom: 1px solid #ffffff;
}

.cmp-accordion-dark-theme .cmp-accordion__icon {
  background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-accordion-closed-white.svg');
}

.cmp-accordion-dark-theme .cmp-accordion__button--expanded .cmp-accordion__icon {
    background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-accordion-open-white.svg');
}

.cmp-accordion-dark-theme .cmp-accordion__controls-button-expand-icon {
  background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-expand-all-white.svg');

}

.cmp-accordion-dark-theme .cmp-accordion__controls-button-collapse-icon {
  background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-collapse-all-white.svg');

}
