.cmp-title {}
.cmp-title__text {}
.cmp-title__link {}

/* Add Title Underline Style */
.cmp-title--underline {
    .cmp-title__text {
        &:after {
        display: block;
            width: 5.25rem;
            padding-top: 0.5rem;
            content: '';
            border-bottom: 2px solid $brand-primary;
        }
    }
}
