.cmp-navigation {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.cmp-navigation__group {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.cmp-navigation__item {
  font-size: 1.5rem;
}

.cmp-navigation__item--level-0 {
  font-size: 2.5rem;
}

.cmp-navigation__item-link {
  padding-right: 1rem;
}