@import './_variables.scss';
/* Base */

html,
body {
    margin: 0;
    font-size:   1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color:       #202020;
    background:  #ECECEC;

}


a {
    color: #3e82bf;
    text-decoration: none !important;
}

p {
  color: #677279
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

h1,
h2,
h3 {
  color: #003399;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.75rem;
}

.cmp-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cmp-padding-left {
  padding-left: 1rem;
}

.cmp-padding-right {
  padding-right: 1rem;
}

.cmp-default {
  background-color: #f6f8fa;
  width: 100%;

  h2 {
    text-align: center;
  }
}

.container-dark {
  color: white;

  a,
  h1,
  h2,
  h3 {
    color: white;
  }
  a:hover {
      color: #bcbcbc;
  }

  p {
    color: white;
  }

  .btn-icon {
    background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-carrot-white.svg');
  }
}

.background-blue{
  background-color: #3254dc;
}

.background-light-blue {
  background-color: #799fff;
}

.background-gunmetal {
  background-color: #4a5a75;
}

.background-midnight {
  background-color: #092643;
}

.background-red {
  background-color: #c12222;
}

.background-gray {
  background-color: #d3d9de;
}

.background-light-gray {
  background-color: #e9ebee;
}
