
/* Font */

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             1rem;
$font-height:           1.5;
$font-weight-bold:      700;

//== Color
$red:                   #C62828;
$red02:                 #F44336;
$blue:                  #003399;
$blue02:                #3e82bf;
$white:                 #ffffff;
$black:                 #202020;
$grey:                  #ECECEC;

// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            $blue02;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);

$brand-primary:         $blue;
$color-link-hover:      $white;
