<ng-container *ngTemplateOutlet="type ? embedTemplate : default"></ng-container>

<ng-template #default>
    <div><p>Embed needs to be configured</p></div>
</ng-template>

<ng-template #embedHtml>
    <div [innerHTML]="htmlEmbed"></div>
</ng-template>

<ng-template #embedUrl>
    <div><p>Embed with url is not supported.</p></div>
</ng-template>

<ng-template #embedEmbeddable>
    <div><p>Embed with embeddable is not supported.</p></div>
</ng-template>
