/*
 *  Copyright 2018 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@import (once) "/libs/wcm/foundation/clientlibs/grid/grid_base.less";

/* maximum amount of grid cells to be provided */
@max_col: 12;

/* default breakpoint */
.aem-Grid {
  .generate-grid(default, @max_col);
}

/* xs breakpoint */
@media (max-width: 575px) {
  .aem-Grid {
    .generate-grid(extra-small, @max_col);
  }
}

/* small breakpoint */
@media (min-width: 576px) and (max-width: 767px){
  .aem-Grid {
    .generate-grid(small, @max_col);
  }
}

/* medium breakpoint */
@media (min-width: 768px) and (max-width: 991px) {
  .aem-Grid {
    .generate-grid(medium, @max_col);
  }
}

/* large breakpoint */
@media (min-width: 992px) and (max-width: 1199px){
  .aem-Grid {
    .generate-grid(large, @max_col);
  }
}


/* force showing hidden components in unhide mode */
.aem-GridShowHidden > .cmp-container > .aem-Grid > .aem-GridColumn {
  display: block !important;
}
