@import 'src/styles/_variables.scss';

.cmp-feature-border .container {
  border: 2px solid $brand-primary;
  border-radius: 0.25rem;

}

.cmp-feature-col-left {
  .Image {
    padding-left: .5rem;
  }
}

.cmp-feature-col-right {
  .cmp-title {
    padding-top: .5rem;
  }
}

.cmp-feature-text-center {
  text-align: center;
}