.cmp-carousel {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.cmp-carousel__content {
  position: relative;
  margin:  0 auto;
  max-width: 1400px;
}

.cmp-carousel__item {
  display: none;
}

.cmp-carousel__item--active {
  display: block;
}

.cmp-carousel__actions {
}

.cmp-carousel__action {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-64px);
  box-shadow: rgb(74 90 117 / 20%) 0px 4px 16px 0px;
  padding: 0px;
  margin: 0px;
  border: none;
  line-height: normal;
  overflow: visible;
  appearance: none;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  width: 50px;
}

.cmp-carousel__action--disabled {}

.cmp-carousel__action--previous {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  left: 0px;
  cursor: pointer;
  height: 80px;
}

.cmp-carousel__action--next {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  right: 0px;
  cursor: pointer;
  height: 80px;
}

.cmp-carousel__action--pause {}
.cmp-carousel__action--play {}

.cmp-carousel__action-icon {
  background-position: right center;
  opacity: 1;
  display: block;
  width: 32px;
  height: 32px;
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.cmp-carousel__action--next .cmp-carousel__action-icon {
  background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-carousel-next.svg');
}

.cmp-carousel__action--previous .cmp-carousel__action-icon {
  background-image: url('/etc.clientlibs/petstore-react/clientlibs/clientlib-react/resources/assets/icn-carousel-previous.svg');
}

.cmp-carousel__action-text {}

.cmp-carousel__indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 1rem;
  list-style: none;
}
.cmp-carousel__indicator {
    position: relative;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin: 0 7px;
    border-radius: 50%;
    font-size: 0;
    text-indent: -3000px;
    background-color: rgba(0, 0, 0, 0.5);
}

.cmp-carousel__indicator--active {
  background-color: rgba(0, 0, 0, 0.8);
}