//== Base

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    background:  $color-background;

}


a {
    color: $color-link;
    text-decoration: none !important;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

h1,
h2,
h3 {
  color: $brand-primary;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.75rem;
}

.cmp-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}