@import 'src/styles/_variables.scss';

.cmp-separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cmp-separator--large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cmp-separator--hidden
.cmp-separator__horizontal-rule {
    border: 0px solid $brand-primary;
    border-radius: 1px;
    background: $brand-primary;

}

.cmp-separator__horizontal-rule {
  border: 1px solid $brand-primary;
  border-radius: 1px;
  background: $brand-primary;
}