@import 'src/styles/_variables.scss';

.card-icon-left .card-container {
  display: flex;
}

.card-one-item.card-icon-left .card-icon {
  padding-left: 4rem;
}

.card-one-item.card-icon-left.card-icon-xl .card-icon {
  padding-left: 15rem;
  background-size: contain;
  background-position: center;
  width: 45%;
}
.card-one-item.card-icon-left.card-icon-xl .card-content {
  padding-top: 4rem;
}

.card-two-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-two-item.card-icon-left .card-icon {
  width: 10rem;
  padding-left: 2rem;
}

.card-two-item.card-icon-left.card-icon-small .card-icon {
  width: 10rem;
  padding-left: 1rem;
}

.card-two-item.card-icon-center .card-icon {
  background-position: center;
  width: 100%;
}

.card-three-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.card-three-item.card-icon-left .card-icon {
  width: 18rem;
  padding-left: 2rem;
}

.card-four-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-five-item {
  margin-left: 3rem !important;
}

.card-border .container {
  border-radius: 0.75rem;
  margin-top: 1rem;
  box-shadow: rgb(74 90 117 / 8%) 0px 4px 16px 0px, rgb(74 90 117 / 16%) 0px 2px 4px 0px;
  background-color: #ffffff;
  transition: box-shadow 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.card-border-navy .container {
  border-radius: 0.75rem;
  margin-top: 1rem;
  box-shadow: rgb(74 90 117 / 8%) 0px 4px 16px 0px, rgb(74 90 117 / 16%) 0px 2px 4px 0px;
  background-color: #0b2742;
  color: #ffffff;
  transition: box-shadow 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.card-border-gray .container {
  border-radius: 0.75rem;
  margin-top: 1rem;
  box-shadow: rgb(74 90 117 / 8%) 0px 4px 16px 0px, rgb(74 90 117 / 16%) 0px 2px 4px 0px;
  background-color: #d3d9de;
  transition: box-shadow 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.card-border-slate .container {
  border-radius: 0.75rem;
  margin-top: 1rem;
  box-shadow: rgb(74 90 117 / 8%) 0px 4px 16px 0px, rgb(74 90 117 / 16%) 0px 2px 4px 0px;
  background-color: #4a5a75;
  transition: box-shadow 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.card-text-center {
  text-align: center;
}

.card-container {
  padding: 3rem 2rem 2.5rem;
}

.card-icon-xl .card-icon {
  height: 250px;
  width: 250px;
}

.card-icon-large .card-icon {
  height: 160px;
  width: 160px;
}

.card-icon-small .card-icon {
   height: 45px;
   width: 45px;
 }

.card-icon {
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.image-card {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.card-dark {
  border-radius: 0.75rem;

  .card-container {
    padding: 11rem 3rem 2.5rem;
  }
}
