
//== XF Footer style, used on page template

footer.experiencefragment {
    padding: .5em 1em;
    border-top: 1px solid $color-foreground;

    .cmp-separator__horizontal-rule {
        margin: 0;
        border: 0;
    }
}