@import "~src/styles/variables";

.button {
  display: inline-block;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
}

.cmp-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.btn-centered {
  text-align: center;
}

.btn-line .cmp-button {
    border-bottom: 4px solid $brand-primary;
}

.btn-line .cmp-button:hover {
  color: $brand-primary;
}

.btn-round .cmp-button {
    border: 3px solid $brand-primary;
    border-radius: 1rem;
}

.btn-round .cmp-button:hover {
  background-color: $brand-primary;
  color: $color-link-hover;
}