<ng-container *ngTemplateOutlet="buttonLink ? buttonTemplate : default"></ng-container>

<ng-template #default>
    <div><p>Button needs to be configured</p></div>
</ng-template>

<ng-template #staticLink>
    <div class="button staticLink" [ngClass]="appliedCssClassNames">
        <a [id]="id" class="cmp-button" [href]="buttonLink.url">
            <span class="cmp-button__text">{{buttonLink.title}}</span>
        </a>
    </div>
</ng-template>

<ng-template #routedLink>
    <div class="button routedLink" [ngClass]="appliedCssClassNames">
        <a [id]="id" class="cmp-button" [routerLink]="buttonLink.url">
            <span class="cmp-button__text">{{buttonLink.title}}</span>
        </a>
    </div>
</ng-template>


